[D-BUS Service]
Name=org.deepin.FileManager.Git
Exec=/usr/bin/dde-file-manager-git-daemon
User=
SystemdService=dde-file-manager-git-daemon.service
AssumedAppArmorLabel=unconfined 