Source: dde-file-manager-vcs-plugin
Section: utils
Priority: optional
Maintainer: zhangsheng <zhangsheng@uniontech.com>
Build-Depends: debhelper (>= 11),
               cmake,
               qt6-base-dev,
               qt6-base-dev-tools,
               libqt6core5compat6-dev,
               libdfm-extension-dev,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://github.com/yourusername-or-organization/dde-file-manager-vcs-plugin
Vcs-Browser: https://github.com/yourusername-or-organization/dde-file-manager-vcs-plugin
Vcs-Git: https://github.com/yourusername-or-organization/dde-file-manager-vcs-plugin.git

Package: dde-file-manager-vcs-plugin
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         dde-file-manager,
         git
Description: Git version control plugin for Deepin File Manager
 This plugin adds Git version control functionality to the 
 Deepin File Manager (dde-file-manager).
 .
 Features include:
  * Git status emblems on files and folders
  * Git contextual menu operations
  * Git repository monitoring 